@import 'styles/colors.scss';

@mixin default-style-button {
  color: $color-white;
  width: 74px;
  border: none;
  font-weight: 700;
  padding: 5px 0px;
}

button {
  &.default-button {
    @include default-style-button;
    background: $color-primary-theme;

    &.invert {
      background: $color-white;
      border: $color-primary-theme solid 2px;
    }
  }

  &.black-button {
    @include default-style-button;
    background: $color-black;

    &.invert {
      background: $color-white;
      color: $color-black;
      border: solid 1px $color-black;
    }
  }
}
