$color-primary-theme: #903260;
$color-lighter-primary: #c798af;
$color-secondary-theme: #e3ccd7;
$color-black: #000000;
$color-white: #ffffff;
$color-grey: #414042;
$color-orange: #dfa725;
$color-ads: #307d89;
$color-malibu: #61dafb;
$color-camelot: #862b61;
$color-paradiso: #007c89;
$color-lighter-paradiso: #bfdee1;
$color-glacier: #7fbdc4;
$color-custom-white: #f1f1f1;
